<div class="notifier__container" data-type="{{payload.event}}">
  {{!-- <div>s to sacrifice to the animation gods. --}}
  <div class="animate__square">
    <div class="square__flipper">
      <div class="square--rear">
        <span class="ss-icon ss-airplay"></span>
      </div>
      <div class="square--front">
        <span class="ss-icon ss-shield"></span>
      </div>
    </div>
  </div>
  <div class="animate__event"></div>

  <div class="event__type">{{payload.event}}</div>
  <div class="event__message">
    <span class="event__username">{{payload.username}}</span>
    <span class="event__message--inner">{{payload.message}}</span>
  </div>
  {{!-- Placeholder to make sure .animate__square has a place to stay. --}}
  <div class="square__container"></div>
</div>