<div class="notifier__container" data-type="{{payload.event}}">
  <div class="event-timer"></div>
  <div class="event">
    <div class="event__message">
      <span class="event__type">{{payload.event}}</span>
      <span class="event__username">{{payload.username}}</span>
      <span class="event__message--inner">{{payload.message}}</span>
    </div>
  </div>
</div>

{{!-- <span class="square--icon__donation ss-icon ss-beer"></span> --}}
{{!-- <span class="square--icon__host ss-icon ss-airplay"></span> --}}
{{!-- <span class="square--icon__resubscription ss-icon ss-shield"></span> --}}
{{!-- <span class="square--icon__subscription ss-icon ss-shield"></span> --}}
{{!-- <span class="square--icon__substreak ss-icon ss-chargingbattery"></span> --}}
{{!-- <span class="square--icon__raid ss-icon ss-thunderstorm"></span> --}}
