<div class="notifier__container" data-type="{{payload.event}}">
  <div class="event-timer"></div>
  <div class="event">
    <div class="event__message">
      <span class="event__type">{{payload.event}}</span>
      <span class="event__username">{{payload.username}}</span>
      <span class="event__message--inner">{{payload.message}}</span>
    </div>
  </div>
</div>
