@import "structure/config";
@import "structure/foundation";
@import "structure/flex";

// Components.
@import "components/chat-message";
@import "components/event-notifier";

// Routes.
@import "routes/prologue";

// Partials.
@import "partials/social-informer";

// .overlay-container
.overlay__container {
  color: #111;

  overflow: hidden;
  position: relative;
  width: 1280px; height: 720px;
}

.overlay__section {
  min-width: 320px; height: 720px;
}
.overlay__section[role="main"] {

}
.overlay__seciton[role="video"] {

}
.overlay__section[role="aside"] {
  background: #F1F4F8; // @@
}
.overlay__section[role="chat"] {
  background: #222933; // @@
}

.element__chat {
  width: 320px;
  // background: green;
}
.element__webcam {
  width: 320px; height: 180px;
  background: blue;
}


.element__games {
}
