@import "structure/config";
@import "structure/color";
@import "structure/foundation";
@import "structure/flex";

// Components.
@import "components/chat-message";
@import "components/event-notifier";
@import "components/event-ticker";
@import "components/broadcast-informer";

// Routes.
@import "routes/prologue";
@import "routes/gaming";
@import "routes/discussion";
@import "routes/dashboard";


// .overlay-container
.overlay__container {
  color: #111;

  overflow: hidden;
  position: relative;
  width: 1280px; height: 720px;
}

.overlay__section {
  min-width: 320px; height: 720px;
}
.overlay__section[role="main"] {

}
.overlay__seciton[role="video"] {

}
.overlay__section[role="aside"] {
  background: #EEE; // @@
}
.overlay__section[role="chat"] {
  width: 360px;
}
