$brand-github: #4183c4;
$brand-twitter: #55acee;
$brand-moderator: #34ae0a;
$brand-twitch: #6441a5;


.social-informer {
  position: relative;

  .looper-inner { height: 720px; }
}

.social__item {
  padding: 20px;
  height: 720px;
}
.social__item__icon {
  background-color: #fff;
  height: 64px;
  margin-bottom: 1px;
  padding: 0 20px;

  line-height: 64px;


  .ss-icon, .social__item__title {
    position: relative;
    vertical-align: middle; }
  .ss-icon {  font-size: 32px; }
  .social__item__title {
    padding-left: 10px;
    font-size: 18px; }
}
.social__item__description {
  padding: 20px;

  background-color: #fff;
  font-size: 16px;
  line-height: 20px;

  p { margin-bottom: 10px; }
  p:last-child { margin: 0; }
}

.social__item__icon {
  .social__item--github & {
    background-color: $brand-github;
    color: #fff; }
  .social__item--twitter & {
    background-color: $brand-twitter;
    color: #fff; }
  .social__item--moderator & {
    background-color: $brand-moderator;
    color: #fff; }
  .social__item--subscription & {
    background-color: $brand-twitch;
    color: #fff; }
}

.social__item--subscription {
  .emote__list { padding-top: 10px; }
  .emote { margin-bottom: 6px; }
  .emote__code, .emote__image {
    display: inline-block;
    vertical-align: middle;
  }
  .emote__code {
    display: inline-block;
    margin-left: 4px;
    padding: 4px 6px;

    background: #f7f7f7;
    border-radius: 2px;
    border: 1px solid #eee;
    color: #333;
  }
}

// .
.social__item__timer {
  position: absolute; bottom: 0; left: 0;
  width: 320px; height: 4px;
  background: rgba(#111213, 0.5);

  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-fill-mode: both;

  .social__item.active & {
    animation-name: animate-social-timer;
    animation-delay: 0ms;
    animation-duration: 15000ms;
  }
}

@keyframes animate-social-timer {
   0% { width: 320px; }
 100% { width: 0; }
}
