$timing-function: cubic-bezier(.55, 0, .1, 1);

.event-ticker {
  display: flex; align-items: flex-end;
  width: 1280px; height: 240px;
  overflow: auto;

  color: white;
  font-family: "Gotham SSm A", "Gotham SSm B";
}

.ticker-list {
  position: relative; bottom: 0;
  display: flex; flex-direction: row-reverse; justify-content: flex-end;
  margin: 0 -1px;
  min-width: 100%;

  background-color: #1f1f1f;
  white-space: nowrap;

  transition: all 300ms $timing-function;
}
.ticker-list--hidden {
  bottom: -26px;
  opacity: 0.0;
}

// .ticker-item serves as the container to the current event.
.ticker-item {
  flex: none;
  position: relative;
  margin: 0 1px;
  max-width: 500px;

  transition: all 700ms ease-out;
}
.ticker-item--hidden {
  margin: 0;
  max-width: 0;
}

.ticker-wrapper {
  display: inline-flex;
  width: 100%;

  background-color: #1f1f1f;
  border-bottom: 2px solid;

  transition: all 1000ms $timing-function;
}

.ticker__piece {
  position: relative;
  perspective: 1280px;
}
.ticker__type {
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 0px 6px 8px;
}
.ticker__actor {
  font-weight: 500;
  font-size: 14px;
  padding: 6px 8px;
}

.ticker__message {
  position: absolute; bottom: 46px; left: 0;
  width: 100%;
  padding: 12px;

  background: #1f1f1f;
  box-shadow: 0 5px 5px 0 rgba(#000, 0.1), 0 2px 3px 0 rgba(#000, 0.2);
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  white-space: normal;

  transition: all 300ms $timing-function;

  &:after {
    content: '';
    position: absolute; bottom: -10px; left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #1f1f1f transparent transparent transparent;
  }
}
.ticker__message--hidden {
  bottom: 56px;
  opacity: 0.0;
}

// Animation-related styling, default states, etc.
.ticker__piece { opacity: 0.0; }

// Animation delcarations.
.ticker-item--visible {
  .ticker__piece {
    animation-delay: 300ms;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-timing-function: $timing-function;
  }
  .ticker__type { animation-name: type-reveal; }
  .ticker__actor { animation-name: actor-reveal; }
}

// Keyframe declarations.
@keyframes type-reveal {
  0% {
    top: -18px;
    transform: rotateX(0);
    opacity: 0.0; }
  100% {
    top: 0px;
    transform: rotateX(-10deg);
    opacity: 1.0; }
}
@keyframes actor-reveal {
  0% {
    top: -18px;
    transform: rotateX(0);
    opacity: 0.0; }
  100% {
    top: 0px;
    transform: rotateX(-10deg);
    opacity: 1.0; }
}

// Event-based state changes.
$events:
  (host $event-host)
  (raid $event-raid)
  (subscription $event-subscription)
  (substreak $event-substreak)
  (tip $event-tip);
@each $e in $events {
  [data-event="#{nth($e, 1)}"] {
    .ticker-wrapper { border-color: darken(nth($e, 2), 15%); }
    .ticker__type { color: nth($e, 2); }
  }
}

[data-event="follow"] {
  .ticker-wrapper { border-color: #000; }
  .ticker__type { color: #666; }
}
