.event-notifier {
  color: white;
  font-family: "Gotham SSm A", "Gotham SSm B";

  // Defaults.
  position: absolute; bottom: 0;
  width: 1280px;
  height: 54px;
}

.notifier__container {
  position: relative;
  white-space: nowrap;
}

.event { position: relative; }
.event__type, .event__message {
  display: inline-block;
  padding: 0 12px;

  font-size: 18px;
  line-height: 54px;
  white-space: nowrap;
}
.event__type {
  position: relative;

  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}
.event__message {
  position: relative;
  color: #fff;
}
.event__username {
  font-weight: 600;
}

.event-timer {
  position: absolute; left: 0; bottom: 0;
  width: 0; height: 4px;
  z-index: 10;
}

// Animation-related styling, default states, etc.
.event__type,
.event__message {
  opacity: 0.0;
}

// Animation delcarations.
.notifier__container.active {
  .event {
    animation-fill-mode: forwards;

    animation-name: event-reveal, event-remove;
    animation-delay: 0ms, 7100ms;
    animation-duration: 500ms, 500ms;
  }
  .event-timer {
    animation-fill-mode: forwards;

    animation-name: event-timer-reveal, event-timer-remove;
    animation-delay: 0ms, 3000ms;
    animation-duration: 500ms, 4000ms;
    animation-timing-function: ease-in-out;
  }

  .event__type {
    animation-fill-mode: forwards;

    animation-name: event-type-reveal, event-type-remove;
    animation-delay: 1500ms, 7000ms;
    animation-duration: 500ms, 500ms;
  }
  .event__message {
    animation-fill-mode: forwards;

    animation-name: event-message-reveal, event-message-remove;
    animation-delay: 1500ms, 7000ms;
    animation-duration: 500ms, 500ms;
  }
}

// Keyframe declarations.
@keyframes event-reveal {
  0% {
    background: rgba(#000, 0.0);
    left: 0; width: 0px; }
  100% {
    background: rgba(#000, 1.0);
    left: 0; width: 1280px; }
}
@keyframes event-remove {
  0% {
    background: rgba(#000, 1.0);
    bottom: 0; width: 1280px; }
  100% {
    background: rgba(#000, 0.0);
    bottom: -54px; }
}

@keyframes event-timer-reveal {
    0% { left: 0; width: 0px; }
  100% { left: 0; width: 1280px; }
}
@keyframes event-timer-remove {
    0% { right: 0; width: 1280px; }
  100% { right: 0; width: 0px; }
}

@keyframes event-type-reveal {
    1% { left: -10px; opacity: 0.0; }
  100% { left: 0; opacity: 0.99; }
}
@keyframes event-type-remove {
    0% { opacity: 0.99; }
  100% { opacity: 0.0; }
}
@keyframes event-message-reveal {
    1% { left: -10px; opacity: 0.0; }
  100% { left: 0; opacity: 0.99; }
}
@keyframes event-message-remove {
    0% { opacity: 0.99; }
  100% { opacity: 0.0; }
}

// Event-based state changes.
.notifier__container {
  &[data-type="donation"] {
    .event-timer { background-color: $event-tip; }
    .event__type { color: $event-tip; }
  }
  &[data-type="host"] {
    .event-timer { background-color: $event-host; }
    .event__type { color: $event-host; }
  }
  &[data-type="subscription"], &[data-type="resubscription"] {
    .event-timer { background-color: $event-subscription; }
    .event__type { color: $event-subscription; }
  }
  &[data-type="substreak"] {
    .event-timer { background-color: $event-substreak; }
    .event__type { color: $event-substreak; }
  }
  &[data-type="raid"] {
    .event-timer { background-color: $event-raid; }
    .event__type { color: $event-raid; }
  }
}
