$item-padding: 6px;

.event-ticker {
  display: flex; align-items: flex-end;
  width: 1280px; height: 160px;

  color: white;
  font-family: "Gotham SSm A", "Gotham SSm B";
}

.ticker-list {
  display: flex; flex-direction: row; justify-content: flex-start;
  padding: $item-padding;

  // background-color: rgba(#000, 0.2);
  white-space: nowrap;
}
// .ticker-item serves as the container to the current event, as it's width
// is assigned as `data-width` upon instantiation.
.ticker-item {
  flex: none;
  margin-right: $item-padding;
  position: relative;

  transition: all 500ms linear;

  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  /*
  &:before {
    // Circle.
    content: '';
    position: absolute; bottom: -8px; left: 0;

    width: 6px; height: 6px;
    border-radius: 50%;
    background-color: #000;
  }
  &:after {
    // Timeline.
    content: '';
    position: absolute; right: 4px; bottom: -6px; left: 10px;

    height: 1px;
    background-color: #000;
  }
  */
}

.ticker-item--hidden {
  .ticker-wrapper { opacity: 0.0; width: 1px; }
}

// .ticket-wrapper is animatable.
.ticker-wrapper {
  display: inline-flex;

  background-color: #111;
  width: 100%;
}

.ticker__piece {
}
.ticker__type {
  border-top-left-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
}
.ticker__actor {
  border-top-right-radius: 2px;
  font-weight: bold;
  font-size: 12px;
}

.ticker__message {
  position: absolute; bottom: 46px; left: 0;
  width: 100%;
  padding: 12px;

  background: black;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  white-space: normal;

  // box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1), 0 2px 3px 0 rgba(0,0,0,0.2);

  transition: 250ms all ease;

  &:after {
    content: '';
    position: absolute; bottom: -10px; left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #000 transparent transparent transparent;
  }
}

.ticker__message--hidden {
  bottom: 56px;
  opacity: 0.0;
}

// Event type customization.
[data-event="follow"] {
  // &.ticker-item { background-color: #fff; }
}

[data-event="host"] {
  // &.ticker-item { background-color: $event-host; }
}

[data-event="subscription"] {
  // &.ticker__type { background-color: $event-subscription; }
  .ticker__type { color: $event-subscription; }
}

[data-event="substreak"] {
  // &.ticker-item { background-color: $event-substreak; }
  .ticker__type { color: $event-substreak; }
}

[data-event="tip"] {
  // &.ticker-item { background-color: $event-tip; }
  .ticker__type { color: $event-tip; }
}
