.event-notifier {
  color: white;
  font-family: "Gotham SSm A", "Gotham SSm B";

  // Defaults.
  position: absolute;
  width: 1280px;
  height: 90px;
}

.notifier__container {
  position: relative;
  white-space: nowrap;

  //
  background: rgba(#000, 0.9);
}

.event__type, .event__message {
  display: inline-block;
  padding: 0 12px;

  font-size: 16px;
  line-height: 54px;
  white-space: nowrap;
}
.event__type {
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}
.event__message {
  color: #fff;
}
.event__username {
  font-weight: 600;
}

.event-timer {
  position: absolute;
  background: white; bottom: 0;
  width: 1280px; height: 4px;
}

// Animation-related styling, default states, etc.
.event__type,
.event__message {
  // visibility: hidden;
}

// Animation delcarations.
.notifier__container.active {
  //.
  // .event__type {
  //   animation-fill-mode: both;
  //
  //   animation-name: event-type-reveal, event-type-remove;
  //   animation-delay: 2400ms, 7000ms;
  //   animation-duration: 100ms, 500ms;
  // }
  // .event__message {
  //   animation-fill-mode: both;
  //
  //   animation-name: event-message-reveal, event-message-remove;
  //   animation-delay: 2100ms, 7050ms;
  //   animation-duration: 100ms, 500ms;
  // }
}

// Keyframe declarations.
// (All bounce.js related declarations live in event-notifier.js.)
@keyframes animate-event-in {
    0% { right: calc(100% - 38px); width: 0; }

    1% { width: 2px; }
  100% { right: 0; width: 2px; }
}
@keyframes animate-event-across {
    0% { right: 0; }
  100% { right: 0; width: 100%; }
}
@keyframes animate-event-out {
    0% { left: 0; width: 100%; }
  100% { left: 0; width: 0px; }
}

@keyframes event-type-reveal {
    0% { visibility: hidden; }
  100% { visibility: visible; }
}
@keyframes event-type-remove {
    0% { opacity: 0.99; }
  100% { opacity: 0.0; }
}
@keyframes event-message-reveal {
    0% { visibility: hidden; }
  100% { visibility: visible; }
}
@keyframes event-message-remove {
    0% { opacity: 0.99; }
  100% { opacity: 0.0; }
}

// Event-based state changes.
.notifier__container {
  &[data-type="donation"] {
    .event-timer { background-color: $event-donation; }
    .event__type { color: $event-donation; }
  }
  &[data-type="host"] {
    .event-timer { background-color: $event-host; }
    .event__type { color: $event-host; }
  }
  &[data-type="subscription"], &[data-type="resubscription"] {
    .event-timer { background-color: $event-subscription; }
    .event__type { color: $event-subscription; }
  }
  &[data-type="substreak"] {
    .event-timer { background-color: $event-substreak; }
    .event__type { color: $event-substreak; }
  }
  &[data-type="raid"] {
    .event-timer { background-color: $event-raid; }
    .event__type { color: $event-raid; }
  }
}
