.dashboard {
  font-family: "freight-sans-pro";

  h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 18px;

    .ss-icon {
      position: relative; top: 2px;
      margin-right: 2px; }
  }
}

.dashboard__section {
  border-top: 1px solid #eee;
}

.container--inner {
  margin: 0 auto;
  max-width: 960px;
}

.dashboard__header {
  padding: 20px;
  color: #999;
}

// .dashboard__masthead
.dashboard__masthead--inner {
  padding: 20px 0;
}

// .dashboard__tools
.dashboard__tools {}

.events__item {
  padding: 20px 0; padding-right: 20px;
}
.events__list__item {
  padding: 4px 0;
}
.event__status {
  margin-right: 10px;
  width: 45px;
  padding: 3px 4px 5px;

  border: 1px solid #ccc;
  border-radius: 4px;
  color: #666;
  font-size: 14px;
  text-align: center;
}
.event__actor {
  font-size: 18px;
}
.event__timestamp {
  display: block;
  height: 14px;
  color: #999;
  font-size: 13px;
}

// .utilities
.utilities {
  padding: 20px; padding-right: 0;
  width: 200px;
  border-left: 1px solid #eee;

  .form { margin-bottom: 20px; }
  .form__header {
    padding: 0 0 5px;
  }
  .form__controls {
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  .form__control {
    margin: 0;
    padding: 8px;
    width: 100%;

    background-color: transparent;
    border: 0;
  }
  .form__submit {
    display: block;

    border-left: 1px solid #ccc;
    width: 40px;

    .ss-icon { position: relative; top: 2px; }
  }

  .substreak__actor { width: calc(100% - 50px); }
  .substreak__length {
    width: 50px;
    border-left: 1px solid #eee;
  }
}

// Coloring and Overrides.
.event__status {
  .events__item--hosts & { border-color: $event-host; color: $event-host; }
  .events__item--raids & { border-color: $event-raid; color: $event-raid; }
  .events__item--subscriptions & { border-color: $event-subscription; color: $event-subscription; }
}
