.dashboard {
  font-family: "freight-sans-pro";

  h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 18px;

    .ss-icon {
      position: relative; top: 2px;
      margin-right: 2px;
    }
  }

}

.dashboard__header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  color: #999;
}

.dashboard__tools {}

.events__item {
  padding: 20px 0; padding-right: 20px;
}
.events__list__item {
  padding: 4px 0;
}
.event__episode {
  margin-right: 10px;
  width: 40px;
  padding: 4px;

  border: 1px solid #ccc;
  border-radius: 4px;
  color: #666;
  text-align: center;
}
.event__actor {
  font-size: 18px;
}
.event__timestamp {
  color: #999;
}

.container--inner {
  margin: 0 auto;
  max-width: 960px;
}

.utilities {
  padding: 20px; padding-right: 0;
  width: 200px;
  border-left: 1px solid #eee;

  .form { margin-bottom: 20px; }
  .form__header {
    padding: 0 0 5px;
  }
  .form__controls {
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  .form__control {
    margin: 0;
    padding: 8px;
    width: 100%;

    background-color: transparent;
    border: 0;
  }
  .form__submit {
    display: block;

    border-left: 1px solid #ccc;
    width: 40px;

    .ss-icon { position: relative; top: 2px; }
  }

  .substreak__actor { width: calc(100% - 50px); }
  .substreak__length {
    width: 50px;
    border-left: 1px solid #eee;
  }
}
