.overlay--prologue {
  background: white;
}

// .
.overlay__section[role="main"] {
}

// .
.element__metadata {

}
.metadata__number {
  font-family: "ff-enzo-web"; // @@@@@
  font-size: 144px;
  font-style: italic;
  font-weight: 800;
  line-height: 144px;
}
.metadata__number--inner {
  display: inline-block;
  // background-color: black;
  // color: white;
  padding: 40px 20px 0;
}
.metadata__status {
  font-size: 36px;
  padding: 20px 20px 10px;
}
.metadata__date {
  padding: 0 20px;
}

// .
.element__notifier {
  height: 90px;
}

// .
.game {
  height: 120px;
}
.game__image {
  width: 240px; height: 100%;
  background-size: cover;
  background-position: center center;

  &:after {
    content: '';
    border-bottom: 1px solid red;
    position: absolute;
    bottom: 10px;
    width: 240px;
  }
}
.game__metadata {
  padding-left: 20px;
}
.game__name {
  display: block;
  font-size: 24px;
}
.game__platform {
  display: block;
  font-size: 18px;
}
