.overlay--prologue {
  background-color: #111;
  background-image: url('/assets/images/phoenix.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 60%;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 100;

  // .
  .element__metadata {
    text-align: center;
  }
  .metadata__number {
    border-bottom: 1px solid #222;
    color: #fff;
    font-family: "Tungsten A", "Tungsten B";
    font-size: 144px;
    font-weight: 100;
    letter-spacing: -4px;
    line-height: 144px;
  }
  .metadata__number--inner {
    display: inline-block;
    margin: 20px 20px -1px;

    border-bottom: 1px solid #333;
  }
  .metadata__status {
    color: #333;
    font-size: 36px;
    padding: 20px 20px 10px;
  }
  .metadata__date {
    display: inline-block;
    margin: 0 20px;
    padding: 10px;

    background-color: #333;
    color: #fff;
    font-weight: 800;
  }
}

// .
.overlay__section[role="main"] { }
.overlay__section[role="aside"] { max-width: 320px; }

// .
.games__list {
  height: 180px;
}
.game {
  height: 180px;
}
.game__image {
  height: 100%;
  background-color: #111;
  background-size: cover;
  background-position: center center;

  &:after {
    content: '';
    position: absolute; bottom: 0px;
    // border-bottom: 2px solid red;
    width: 240px;
  }
}
.game__metadata {
  position: relative;
  height: 120px;
  padding: 20px;
}
.game__appearances {
  display: block;
  color: rgba(#111, 0.5); // @@@
}
.game__name {
  font-size: 24px;
}
.game__platform {
  position: absolute; right: 20px; top: 18px;
  padding: 7px;

  background-color: #111; // @@@
  color: #fff;
  font-size: 14px;
  font-weight: 800;
}
