<div class="social-informer">
  <ul class="social--items">
    <li class="social--item">
      <span class="ss-icon ss-github"></span>
    </li>
    <li class="social--item">
      <span class="ss-icon ss-twitter"></span>
    </li>
    <li class="social--item">
      <span class="ss-icon ss-like"></span>
    </li>
    <li>
      <span class="ss-icon ss-youtube"></span>
    </li>
  </ul>
</div>