<div class="social-informer">
  <div class="social__items looper slide" data-looper="go" data-interval="5000">
    <div class="looper-inner">
      <div class="item social__item social__item--github">
        <div class="social__item__timer"></div>
        <div class="social__item__icon">
          <span class="ss-icon ss-github"></span>
        </div>
        <strong class="social__item__title">Open Source Overlays?</strong>
        <div class="social__item__description">
          <p>All of the code used to power this channel is open-source on GitHub. If you're interested in learning from (or tearing apart) my work, use the <strong>!code</strong> command in chat.</p>
          <p><strong>Just remember:</strong> if you steal my designs, no amount of Kappas will ever protect you.</p>
        </div>
      </div>
      <div class="item social__item social__item--twitter">
        <div class="social__item__timer"></div>
        <div class="social__item__icon">
          <span class="ss-icon ss-twitter"></span>
        </div>
        <strong class="social__item__title">Into Twitter?</strong>
        <div class="social__item__description">
          <p>You should really be following <strong>@bryanveloso</strong> (my personal Twitter), and <strong>@avalonstar</strong> (the channel's Twitter). ;)</p>
        </div>
      </div>
      {{!--
      <div class="item social__item social__item--facebook">
        <div class="social__item__icon">
          <span class="ss-icon ss-like"></span>
        </div>
      </div>
      <div class="item social__item social__item--youtube">
        <div class="social__item__icon">
          <span class="ss-icon ss-youtube"></span>
        </div>
      </div>
       --}}
      <div class="item social__item social__item--moderator">
        <div class="social__item__timer"></div>
        <div class="social__item__icon">
          <span class="ss-icon ss-megaphone"></span>
        </div>
        <strong class="social__item__title">A shoulder to lean on?</strong>
        <div class="social__item__description">
          <p>Look no farther than my mods &mdash; <strong>Masonest</strong>, <strong>goat_herd</strong>, <strong>Naraht</strong>, and <strong>gracelberrypie</strong>.</p>
          <p>They are benevolent, just don't cross them.</p>
        </div>
      </div>
    </div>
  </div>
</div>
