<div class="social-informer">
  <div class="social__items looper slide" data-looper="go" data-interval="5000">
    <div class="looper-inner">
      <div class="item social__item social__item--subscription">
        <div class="social__item__icon">
          <span class="ss-icon ss-emptyheart"></span>
          <strong class="social__item__title">Like sweet emotes?</strong>
        </div>
        <div class="social__item__description">
          <p>For the low price of <em>$4.99 a month</em>, you can treat yourself some amazing emotes created by the amazing LadyAsher.</p>
          <ul class="emote__list">
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/37125/1.0"> <span class="emote__code">avalon<strong>FOCUS</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/37126/1.0"> <span class="emote__code">avalon<strong>AWK</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/37127/1.0"> <span class="emote__code">avalon<strong>HAI</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/37128/1.0"> <span class="emote__code">avalon<strong>STAR</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/37129/1.0"> <span class="emote__code">avalon<strong>NOPE</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/38360/1.0"> <span class="emote__code">avalon<strong>EYES</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/38362/1.0"> <span class="emote__code">avalon<strong>DESK</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/41912/1.0"> <span class="emote__code">avalon<strong>HUG</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/46035/1.0"> <span class="emote__code">avalon<strong>CRY</strong></span></li>
            <li class="emote"><img class="emote__image" src="http://static-cdn.jtvnw.net/emoticons/v1/48133/1.0"> <span class="emote__code">avalon<strong>LOVE</strong></span></li>
          </ul>
        </div>
      </div>
      <div class="item social__item social__item--github">
        <div class="social__item__timer"></div>
        <div class="social__item__icon">
          <span class="ss-icon ss-github"></span>
          <strong class="social__item__title">Open Source Overlays?</strong>
        </div>
        <div class="social__item__description">
          <p>All of the code used to power this channel is open-source on GitHub. If you're interested in learning from (or tearing apart) my work, use the <strong>!code</strong> command in chat.</p>
          <p><strong>Just remember:</strong> if you steal my designs, no amount of Kappas will ever protect you.</p>
        </div>
      </div>
      <div class="item social__item social__item--twitter">
        <div class="social__item__timer"></div>
        <div class="social__item__icon">
          <span class="ss-icon ss-twitter"></span>
          <strong class="social__item__title">Into Twitter?</strong>
        </div>
        <div class="social__item__description">
          <p>You should really be following <strong>@bryanveloso</strong> (my personal Twitter), and <strong>@avalonstar</strong> (the channel's Twitter). ;)</p>
        </div>
      </div>
      <div class="item social__item social__item--moderator">
        <div class="social__item__timer"></div>
        <div class="social__item__icon">
          <span class="ss-icon ss-megaphone"></span>
          <strong class="social__item__title">A shoulder to lean on?</strong>
        </div>
        <div class="social__item__description">
          <p>Look no farther than my mods &mdash; <strong>Masonest</strong>, <strong>goat_herd</strong>, <strong>Naraht</strong>, and <strong>gracelberrypie</strong>.</p>
          <p>They are benevolent, just don't cross them.</p>
        </div>
      </div>
      {{!--
      <div class="item social__item social__item--youtube">
        <div class="social__item__icon">
          <span class="ss-icon ss-youtube"></span>
        </div>
      </div>
       --}}
    </div>
  </div>
</div>
