{{#if isPending}}
  <div class="chat-list--loading flex flex--verticalCenter">
    <p>Loading</p>
  </div>
{{else}}
  <ul class="chat-list">
  {{#each promise._result as |message|}}
    {{chat-message message=message}}
  {{/each}}
  </ul>
{{/if}}
