{{outlet}}

<h2>Hosts</h2>
<ul>
{{#each model.hosts as |host|}}
  <li>{{host.username}}</li>
{{/each}}
</ul>

<h2>Raids</h2>
<ul>
{{#each model.raids as |raid|}}
  <li>{{raid.username}}</li>
{{/each}}
</ul>