<div class="overlay__container">
  <div class="overlay overlay--game flex">
    <div class="overlay__section flex__item" role="main">
    </div>
    <aside class="overlay__section flex__item--noGrow" role="aside">
      {{partial "partials/webcam"}}
    </aside>
  </div>
</div>