{{title "Gaming"}}

<div class="overlay overlay--main flex">
  <div class="overlay__section flex__item" role="display">
  {{broadcast-informer}}
  </div>
  <aside class="overlay__section flex__item--noGrow flex flex--column" role="chat">
    <div class="element__chat flex__item">{{chat-area store=store}}</div>
  </aside>
</div>
