<div class="overlay__container">
  <div class="overlay overlay--prologue flex">
    <div class="overlay__section flex__item flex flex--column" role="main">
      <div class="flex__item">
      {{#with model.broadcast as |broadcast| }}
        {{ broadcast.number }}
        {{ broadcast.airdate }}
        {{ broadcast.status }}
      {{/with}}
      </div>
      <div class="element__games">
      game
      </div>
    </div>
    <aside class="overlay__section flex__item--noGrow flex flex--column" role="aside">
      {{!-- Insert looper. --}}
    </aside>
    <aside class="overlay__section flex__item--noGrow flex flex--column" role="chat">
      <div class="element__chat flex__item"></div>
    </aside>
  </div>
</div>